<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Buy Me a JPEG</title>
</head>
<body>
  <p>Who do you want to buy a JPEG for?</p>
  <input type="text" placeholder="wallet address">
  <button onclick="window.location.replace(`/${document.querySelector('input').value}`)">Go to page</button>
</body>
</html>