<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="icon" type="image/png" sizes="64x64" href="/img/favicon-64.png">
  <link rel="icon" type="image/png" sizes="32x32" href="/img/favicon-32.png">
  <link rel="icon" type="image/png" sizes="16x16" href="/img/favicon-16.png">
  <title>Pay My Gas</title>
  <meta property="og:title" content="Pay My Gas">
  <meta name="description" content="Donate to ETH addresses so they can afford gas.">
  <meta name="og:description" content="Donate to ETH addresses so they can afford gas.">
  <meta name="og:image" content="https://paymygas.xyz/img/sharing.jpg">
  <meta name="og:image:width" content="1200">
  <meta name="og:image:height" content="630">

  <meta name="twitter:site" content="@gregskril" />
  <meta name="twitter:card" content="summary_large_image">
  <link rel="stylesheet" href="/css/style.css">

  <!-- Global site tag (gtag.js) - Google Analytics -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=G-QD7869S27S"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'G-QD7869S27S');
  </script>
</head>
<body>
  <div class="container">
    <div class="hero">
      <div class="hero__text">
        <h1 class="hero__title">Pay My Gas</h1>
        <h2>Donate to your frens so they can afford gas.</h2>
      </div>

      <form class="form">
        <div class="form__input-group">
          <% if (locals?.error) { %>
            <p class="form__error" style="text-align: center; margin-bottom: 0.5rem;"><%= error %></p>
          <% } %>
          <input class="form__input" type="text" placeholder="Ethereum address or ENS name">
        </div>
        <button class="btn" type="submit">Donate</button>
      </form>

      <div style="display: flex; flex-direction: column; gap: 0.25rem; align-items: center; margin-top: 1rem; font-size: 1rem;">
        <span>Example: <a href="/gregskril.eth">gregskril.eth</a></span>
        <a href="https://dune.xyz/gregskril/Pay-My-Gas" target="_blank">Dashboard &#8599;</a>
      </div>
    </div>
  </div>

  <script>
    document.querySelector('form').addEventListener('submit', function(e) {
      e.preventDefault();
      window.location.replace(`/${document.querySelector('input').value}`)
    });
  </script>
</body>
</html>